---
import Logo from "@/components/Logo.astro";
import Link from "@/components/Link.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="bg-black/40">
  <div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 flex flex-col md:mb-0 items-center">
        <a class="-mt-14 flex items-center justify-center h-20 w-24" href="/.">
          <Logo class="h-20 w-24" />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:grid-cols-3 sm:gap-6">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            {i18n.FOOTER.LEGAL.TITLE}
          </h2>
          <ul class="flex flex-col gap-2 font-medium text-gray-400">
            <li>
              <Link
                href={translatePath("/aviso-legal/")}
                class="hover:underline hover:text-primary duration-300"
              >
                {t("nav.legal")}
              </Link>
            </li>
            <li>
              <Link
                href={translatePath("/privacidad/")}
                class="hover:underline hover:text-primary duration-300"
              >
                {t("nav.privacidad")}
              </Link>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            {i18n.FOOTER.WEB_MAP.TITLE}
          </h2>
          <ul class="flex flex-col gap-2 font-medium text-gray-400">
            <li>
              {i18n.FOOTER.WEB_MAP.HOME}
            </li>
            <li>
              {i18n.FOOTER.WEB_MAP.INFO}
            </li>
          </ul>
        </div>
        <div></div>
      </div>
    </div>
    <hr class="my-6 border-white/10 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="mt-4 flex sm:mt-0 sm:justify-center"></div>
    </div>
  </div>
</footer>
